* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.main {
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


.status-indicator {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  gap: 10px;
  z-index: 2;
}

.status-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: gray;
}


.screen-section {
  width: 100%;
  height: 100%;
  border: 2px solid #dddddd;
  background-color: #f5f5f5;

}

.screen-section .header-section{
  height: 15%;
  width: 100%;
  /* background-color: rgb(194, 212, 110); */
display: flex;
}

.header-section .right-header{
  width: 70%;
  height: 100%;
  background-color: #e30613;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-section .right-header h4{
  font-size: 19px;
  font-weight: bold;
  color: white;
margin: 0
}

.header-section .left-header{
  width: 30%;
  height: 100%;
}

.header-section .left-header img{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}


/* main-screen */
.screen-section .main-screen {
  height: 85%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen-section .main-screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../assets/rta-bg.webp");
  background-position: center;
  background-size: cover;
  opacity: 0.1; 
  z-index: 0; 
}

.screen-section .main-screen .input {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  opacity: 1; 
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.function-section-upper{
  width: 100%;
  height: 70%;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.function-section-upper .section-1{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-size: 16px; 
}

.section-1 .bus-number{
  font-size: 14px;
  font-weight: 600;
}

.station-input {
  width: 250px;
  padding: 5px;
  border: 1px solid #e30613;
  border-radius: 5px;
}

.function-section-upper .section-2{
  width: 100%;
  height: 40px;
  background-color: rgb(80, 80, 80);
  color: orange;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-2 .display-bus-number{
font-size: 16px;
font-weight: 600;
}

.function-section-below{
  width: 100%;
  height: 30%;
}

.below-input-section{
  width: 100%;
  height: 70%;
  padding: 5px;
  border: 1px solid #e30613;
  display: flex;
  justify-content: space-between;
align-items: center;
}

.below-input-section p{
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.below-input-section #selected-inspection{
color: #e30613;
}

.below-input-section .btn{
  padding:6px 20px;
}

.details-section{
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
padding: 0px 10px;
}

.details-section .user-name{
  text-transform: uppercase;
  font-size: 12px;
  margin: 0;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

/* Container for the dropdown button and content */
.dropdown {
  position: relative; /* Ensure relative positioning to align the dropdown */
  display: inline-block;
}

/* Style the dropdown content */
.dropdown-content {
  display: none; /* Hidden by default */
  position: absolute;
  background-color: #f1f1f1;
  max-height: 50px; /* Set maximum height for the dropdown */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds max-height */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 250px; /* Set a fixed width or adjust to the parent width */
  left: 0; /* Align dropdown to the left of the parent container */
}

/* Individual dropdown items */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: blue;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown content when clicked */
.show {
  display: block;
}


/* .restInput{
display: none;
} */
